.card .label_form {
    color: #ff0000; 
    font-size: 11px;
}
.card .input_form {
    border: none; 
    font-size: 14px;
}
.card p {
    font-size: 13px;
}
.card .button-text {
    background-color: #33cc00;
}
.card .button-text:hover {
    background-color: #33cc33;
}
.card .radio-form {
    font-size: 12px;
}
#Antigene_A, #Antigene_B, #Globule_R, #Antigene_AB {
    border-radius: 0.2em;
}